<link rel="stylesheet" href="/style.css">
<header>
  <h1>
    <a href="/">我的日記</a>
  </h1>
  <nav>
    <a href="/new">新增日記</a>
  </nav>  
</header>
<div class="container">
  <form action="/create" method="post">
    <h2>新增日記</h2>
    <input type="text" name="title" placeholder="Title：">
    <textarea name="content" placeholder="Content："></textarea>
    <button type="submit">發送</button>
  </form>
</div>