<link rel="stylesheet" href="/style.css">
<header>
  <h1>
    <a href="/">我的日記</a>
  </h1>
  <nav>
    <a href="/new">新增日記</a>
  </nav>  
</header>
<div class="not-found">
  <h2>404 Not Found 無此路由</h2>
</div>